@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
    height: 100%;
   

}



input[type=text] {
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    width: 20%;
}

.info {
    height: 100%;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 9px;
    margin-left: 30%;
    margin-right: 20%;
    border: 1px solid black;
    border-radius: 10%;
    margin-bottom: 1px;
    margin-top:3px;
    
   

}

input[type=Password] {
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    width: 20%;
}

.term{
    text-align: center;
}

input[type="submit"] {
    padding: 10%;
    border: 1px solid black;
    border-radius: 7px;
}