@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}



.login {
    color: black;
    font-size: 40px;
    font-style: var(login);
    margin-bottom: 60px;
    margin-right: 40px;
}

body {
    background-color: azure;


}

.info {
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 9px;
    margin-left: 50px;
}

input[type=text] {
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 7px;
}

input[type=Password] {
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 7px;
}

input[type="submit"] {
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    size: 16px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: 40px;
    
}

#signup {
    color: black;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;


}


.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black !important;
    box-sizing: border-box;
}
#login1{
    text-align: center;
}