<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Tempo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.TempoServlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>com.TempoServlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DriverRegistrationServlet</servlet-name>
  <servlet-class>com.TempoServlets.DriverRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DriverRegistrationServlet</servlet-name>
  <url-pattern>/DriverRegistrationServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>CustomerRegistrationServlet</servlet-name>
  <servlet-class>com.TempoServlets.CustomerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CustomerRegistrationServlet</servlet-name>
  <url-pattern>/CustomerRegistrationServlet</url-pattern>
  </servlet-mapping>
  
     <servlet>
  <servlet-name>VehicleServlet</servlet-name>
  <servlet-class>com.TempoServlets.VehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>VehicleServlet</servlet-name>
  <url-pattern>/VehicleServlet</url-pattern>
  </servlet-mapping>
  
</web-app>